<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Steam游戏商城</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="assets/images/favicon.ico" type="img/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/qanto.css">
    <link rel="stylesheet" href="assets/css/bauhaus93.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/helper.css">
    <link rel="stylesheet" href="assets/css/style.css">   
    <!-- Modernizr JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>
    
<div id="main-wrapper">
   
    <!--Header section start-->
    <header class="header header-static bg-black header-sticky">
        <div class="default-header menu-right">
            <div class="container container-1520">
                <div class="row">
                    
                    <!--Logo start-->
                    <div class="col-12 col-md-3 col-lg-3 order-md-1 order-lg-1 mt-20 mb-20">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <!--Logo end-->
                    
                    <!--Menu start-->
                    <div class="col-lg-6 col-12 order-md-3 order-lg-2 d-flex justify-content-center" id="clist">
                        <nav class="main-menu menu-style-2">
                            <ul>
                                <li><a href="index.html">主页</a></li>
                                
                                <li><a href="games.html">游戏</a>
                                    <ul class="sub-menu">
                                        <li ><a href="games.html">游戏列表</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">分类浏览</a>
                                    <ul class="sub-menu" >
                                        <li v-for="c in clist"><a :href="'list.html#'+c.cid">{{c.ctype}}</a></li>
                                    </ul>
                                </li>
                                <li><a href="checkout.html">购物车</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--Menu end-->
                    <script type="text/javascript">
                    new Vue({
                    	el:"#clist",
                    	data:{
                    		clist:[]
                    	},
                    	created(){
                    		axios.get("category.s?op=queryAll").then(res=>{
                    			this.clist=res.data;
                    		})
                    	}
                    })
                    
                    
                    </script>
                    <!--Header Right Wrap-->
                    <div class="col-12 col-md-9 order-md-2 order-lg-3 col-lg-3">
                        <div class="header-right-wrap">
                            <ul>
                                <li><a href="login.html">登录</a></li>
                                <li><a href="register.html">注册</a></li>                               
                            </ul>
                        </div>
                    </div>
                    <!--Header Right Wrap-->
                    
                </div>
                
                <!--Mobile Menu start-->
                <div class="row">
                    <div class="col-12 d-flex d-lg-none">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
                <!--Mobile Menu end-->
                
            </div>
        </div>
    </header>
    <!--Header section end-->
    
    <!--slider section start-->
    <div class="hero-section section position-relative" id="topimg">
        <div class="hero-slider" >
            <!--Hero Item start-->
            <div v-for="t in top">
            <div  class="hero-item hero-item-2" :style= " 'background-image:url( '+ t.image1 + ')'">
                <div class="container container-1520">
                    <div class="row">
                        <div class="col-12">
                            <!--Hero Content start-->
                            <div class="hero-content">
                                <h1>{{t.gname}}</h1>
                                <h2>BETTLE BEGAN’S HERE</h2>
                                <a class="df-btn"   
                                :href="'detail.html#'+t.gid">现在购买</a>
                            </div>
                            <!--Hero Content end-->
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!--Hero Item end-->
        </div>             
    </div>
    <script type="text/javascript">
        new Vue({
        	el:"#topimg",
        	data:{
        		top:[]
        	},
        	created(){
        		axios.get("game.s?op=queryTopGame").then(res=>{
        			this.top = res.data;        		
        		})
        	}
        })              
        </script>   
    <!--slider section end-->
    
    <!--Featured section start-->
    <div class="featured-section section pb-95 pb-lg-75 pb-md-65 pb-sm-55 pb-xs-45">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <!--Featured Title Start-->
                    <div class="featured-title">
                        <h2>精品游戏</h2>
                        <a href="games.html">浏览所有游戏</a>
                    </div>
                    <!--Featured Title End-->
                </div>
            </div>
            <div class="row no-gutters" id="featur">
                <div class="col-12">
                    <div class="featured-slide">
                        <div class="single-featured img-full" v-for="f in featur">
                            <a 
                            :href="'detail.html#'+f.gid">
                            <img 
                            	:src="f.image1" alt=""></a>
                        </div>                        
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            new Vue({
            	el:"#featur",
            	data:{
            		featur:[]
            	},
            	created(){
            		axios.get("game.s?op=queryFeatur").then(res=>{
            			this.featur=res.data;           		
            		})
            	}
            })
            
            
            </script>
        </div>
    </div>
    <!--Featured section end-->
    
    <!--New Game Area Start-->
    <div class="new-game-area section pb-50 pb-lg-30 pb-md-20 pb-sm-10 pb-xs-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--Section Title Start-->
                    <div class="section-title">
                        <h2><span class="color-blue">新品</span> 游戏</h2>
                    </div>
                    <!--Section Title End-->
                </div>
            </div>
            <div class="row game-slide" id="new">
                <div class="col-4" v-for="n in ngame">
                    <!--Single Game Start-->
                    <div class="single-game mb-50">
                        <div class="game-img">
                            <a :href="'detail.html#'+n.gid"><img :src="n.image1" alt=""></a>
                        </div>
                    </div>
                    <!--Single Game End-->
                    <!--Single Game Start-->
                    <div class="single-game mb-50">
                        <div class="game-img">
                            <a :href="'detail.html#'+n.gid"><img :src="n.image2" alt=""></a>
                        </div>
                        <div class="game-content">
                            <h4><a :href="'detail.html#'+n.gid">{{n.gname}}</a></h4>
                            <span>pc/xbox/ps4</span>
                        </div>
                    </div>
                    <!--Single Game End-->
                </div>                 
            </div>
            <script type="text/javascript">
            new Vue({
            	el:"#new",
            	data:{
            		ngame:[]
            	},
            	created(){
            		axios.get("game.s?op=queryNew").then(res=>{
            			this.ngame=res.data;
            		})
            	}
            })
            
            
            </script>
            </div>
        </div>
    
    <!--New Game Area End-->

    
    
        <!--Hot Game Area Start-->
   <div class="new-game-area section pb-50 pb-lg-30 pb-md-20 pb-sm-10 pb-xs-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!--Section Title Start-->
                    <div class="section-title">
                        <h2><span class="color-blue">热门</span> 游戏</h2>
                    </div>
                    <!--Section Title End-->
                </div>
            </div>
            <div class="row game-slide" id="hot">
                <div class="col-4" v-for="h in hot">
                    <!--Single Game Start-->
                    <div class="single-game mb-50">
                        <div class="game-img">
                            <a :href="'detail.html#'+h.gid"><img :src="h.image1" alt=""></a>
                        </div>
                    </div>
                    <!--Single Game End-->
                    <!--Single Game Start-->
                    <div class="single-game mb-50">
                        <div class="game-img">
                            <a :href="'detail.html#'+h.gid"><img :src="h.image2" alt=""></a>
                        </div>
                        <div class="game-content">
                            <h4><a :href="'detail.html#'+h.gid">{{h.gname}}</a></h4>
                            <span>pc/xbox/ps4</span>
                        </div>
                    </div>
                    <!--Single Game End-->
                </div>                 
            </div>
            <script type="text/javascript">
            new Vue({
            	el:"#hot",
            	data:{
            		hot:[]
            	},
            	created(){
            		axios.get("game.s?op=queryhot").then(res=>{
            			this.hot=res.data;
            		})
            	}
            })
            
            
            </script>
            </div>
        </div>
    <!--Hot Game Area End-->
    </div>
    
     <!--Footer section start-->
    <footer class="footer-section style-2 section bg-theme" style="background-image: url(assets/images/bg/footer-bg.jpg)">
       
        <!--Footer Top start-->
        <div class="footer-top section pt-175 pt-lg-150 pt-md-125 pt-sm-110 pt-xs-40 pb-80 pb-lg-70 pb-md-60 pb-sm-15 pb-xs-40">
            <div class="container container-1520">
                <div class="row justify-content-lg-between">
                    
                    <!--Footer Widget start-->
                    <div class="col-xl-3 col-lg-2 col-md-3">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!--Footer Widget end-->
                    
                    <!--Footer Widget start-->
                    <div class="col-xl-6 col-lg-6 col-md-9">
                        <div class="footer-widget">
                            <div class="footer-nav">
                                <nav>
                                    <ul>
                                        <li><a href="#">论坛</a></li>
                                        <li><a href="#">样式</a></li>
                                        <li><a href="#">支持</a></li>
                                        <li><a href="#">条款和条件</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--Footer Widget end-->
                    
                    <!--Footer Widget start-->
                    <div class="col-xl-3 col-lg-4 col-md-12">
                        <div class="footer-widget">
                            <div class="footer-social">
                               <span>关注我们:</span>
                                <ul>
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                    <li><a href="#"><i class="icofont-youtube-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Footer Widget end-->    
                    
                </div>
            </div>
        </div>
        <!--Footer Top end-->
        
        <!--Footer bottom start-->
        <div class="footer-bottom border-color section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-center">
                            <p> 版权 &copy;2020 <a  href="http://www.17sucai.com">吉尔巴德</a>.  版权所有.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer bottom end-->
        
     </footer>
     <!--Footer section end-->
    
</div>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- All jquery file included here -->
<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>

</body>

</html>